0ad
Atom
Code
Electron
Kingsoft
Mousepad
NuGet
Postman
QtProject.conf
Scripts
Slack
TeamSQL
Thunar
Trolltech.conf
Trolltech
Unknow*
autostart
cairo-dock
dconf
enchant
eog
fish
freerdp
gedit
gnome-control-center
gtk-2.0
gtk-3.0
gtk-4.0
menus
mpd
mutt
nautilus
nvim
plank
remmina
session
spotify
tel.red
user-dirs.dirs
user-dirs.locale
vlc
xfce4
transmission
evolution
gconf
chromium
kingsoft
pulse
